[run]
branch = True
source =
    python_utils
    _python_utils_tests
omit =
    */mock/*
    */nose/*
[paths]
source =
    python_utils
[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    @abc.abstractmethod
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
