include coverage.rc
include LICENSE
include MANIFEST.in
include pytest.ini
include README.rst
include requirements.txt
include setup.cfg
include setup.py
include tox.ini
recursive-include _python_utils_tests *.py *.txt
recursive-exclude __pycache__ *
